.holder {
    min-height: 100vh;
    padding: 5vw;

    --highlightColor: var(--textHighlightColor);
}

.top {
    --left-gap: 2vw;
    position: relative;
    padding-left: var(--left-gap);
    border-bottom: 1px dashed #666;
}

.head {
    color: var(--fontColor);
    font-size: 2rem;
    font-weight: bolder;
    margin-bottom: 3rem;
}

.welcomeText {
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    line-height: 1.5em;
    padding-bottom: 1em;
}

.text {
    color: #ccc;
    font-size: 1.2em;
    line-height: 1.6em;

    --left-gap: 10vw;

    padding-top: calc(var(--left-gap) / 2.2);
    padding-left: var(--left-gap);

    position: relative;
}

.text::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: -1em;
    left: calc(var(--left-gap) / 2);
    border-left: 1px dashed #666;
}

.text > p {
    margin-bottom: 1em;
}

.imp[data-si="0"] {
    font-weight: normal;
    font-style: italic;
    font-family: 'Victor Mono';
    font-size: 0.8em;
    color: var(--highlightColor);
}

.imp[data-si="1"] {
    color: var(--fontColor);
}

.imp[data-si="2"] {
    color: var(--fontColor);
    font-weight: bold;
    font-size: 1.5em;
    letter-spacing: 1mm;
}


@media only screen and (min-width: 768px) {
    .content {
        padding: 5vw;
    }

    .head {
        font-size: 3.5rem;
    }
    
    .welcomeText {
        font-size: 5rem;
    }

    .text::before {
        bottom: -6em;
    }
}

@media only screen and (min-width: 1280px) {
    .content {
        padding: 10vw;
    }
}
