#counter_container {
    padding: 5vw;
    display: flex;
    flex-direction: column;
}

.counter_container_wrap {
    border-radius: 20px;
    flex-direction: row;

    display: flex;
    height: auto;
    backdrop-filter: blur(5px);
    background-color: var(--backGroundLight);
    border-radius: 12px;
    border: 2px dashed var(--themeYellowDark);
}

.counter_item {
    padding: 3rem;
    overflow: hidden;
    flex-basis: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.counter_number {
    color: var(--fontColor);
    font-size: 3rem;
    font-weight: bold;
}

.counter_Element {
    padding: 4rem;
    overflow: hidden;
    flex-basis: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.counter_title {
    color: var(--textColor);
    font-size: 2rem;
    font-weight: 600;
    padding-top: 0.2rem;
}

@media screen and (max-width: 770px) {
    .counter_container_wrap {
        flex-direction: column;
    }

    .counter_item {
        padding: 1rem;
    }
}
