@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #131313;
}

.container {
    position: relative;
}

.container .card {
    position: relative;
    background: rgb(28, 28, 28);
    border-radius: 20px;
    overflow: hidden;
    z-index: 99999;
}

/* .container .card:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--fontColor);
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
    z-index: 100;
}

.container .card:hover:before {
    clip-path: circle(300px at 80% -20%);
}

.container .card:after {
    /* content: 'Events';
    position: center;
    font-size: 8em;
    font-weight: 800;
    font-style: italic;
    color: rgba(255, 255, 25, 0.05);
}

.container .card .imgBx {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    width: 100%;
    height: 220px;
    transition: 0.5s;
}

.container .card:hover .imgBx {
    top: 0%;
    transform: translateY(0%);
    z-index: 10000;
}

.container .card .imgBx img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;

    padding-bottom: 70px;
}

.container .card .contentBx {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;

}

.container .card:hover .contentBx {
    height: 210px;
}

.container .card .contentBx h2 {
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
    margin: 0;
}

.container .card .contentBx .size,
.container .card .contentBx .color {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
    padding-top: 0;
    padding-bottom: 0;
}

.container .card:hover .contentBx .size {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.5s;
}

.container .card:hover .contentBx .color {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.6s;
}

.container .card .contentBx .size h3,
.container .card .contentBx .color h3 {
    color: #fff;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
}

.container .card .contentBx .size span {
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    display: inline-block;
    color: #111;
    background: #fff;
    margin: 0 5px;
    transition: 0.5s;
    color: #111;
    border-radius: 4px;
    cursor: pointer;
}

.container .card .contentBx .size span:hover {
    background: #9bdc28;
}

.container .card .contentBx .color span {
    width: 20px;
    height: 20px;
    background: #ff0;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.container .card .contentBx .color span:nth-child(2) {
    background: #9bdc28;
}

.container .card .contentBx .color span:nth-child(3) {
    background: #03a9f4;
}

.container .card .contentBx .color span:nth-child(4) {
    background: var(--themeYellowDark);
}

.container .card .contentBx a {
    display: inline-block;
    padding: 10px 20px;
    background: #fff;
    border-radius: 4px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 600;
    color: #111;
    opacity: 0;
    transform: translateY(50px);
    transition: 0.5s;
    margin-top: 0;
}

.container .card:hover .contentBx a {
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.75s;
}

.date {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
    color: wheat;
} */



.events_container {
    padding: 5vw;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.each_events_wrap {
    padding: 2rem;
    display: grid;
}

.events_cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    width: 100%;
}


.card {
    --border-color: #323232;
    --outline-color: #222;

    transition: all 300ms;
    border: 1px solid var(--border-color);

    outline: 1px solid transparent;
    outline-offset: 1.5mm;
}

.imgBx {
    transition: border 300ms;
    border-bottom: 1px solid var(--border-color);

    aspect-ratio: 4 / 3;

    overflow: hidden;
}

.imgBx > img {
    width: 100%;
}

.card:hover {
    cursor: pointer;
    outline-color: var(--outline-color);

    transform: translateY(1rem);
}

.card:hover > .box > .imgBx {
    border-bottom: 1px solid #383838;
}

.date {
    text-align: left;
}

.contentBx {
    padding: 1.5rem;
    background: #222;
    line-height: 1.5em;
}

.contentHeader {
    margin-bottom: 0.5rem;
    color: var(--fontColor);
    letter-spacing: 0.1em;
}

.date {
    margin-bottom: 1rem;
    color: #555;
    font-size: 0.8em;
    font-weight: normal;
}

.contentContent {
    color: var(--textColor);
    transition: all 300ms;
}

.register {
    display: inline-block;
    padding: 0.6rem 1rem;
    background: var(--fontColor);
    border-radius: 0.25rem;

    outline: 1px dashed transparent;

    transition: all 300ms, opacity 200ms ease-in-out 200ms;

    transition-delay: opacity 300ms;

    font-weight: bold;
    letter-spacing: 0.05em;

    color: #252525;

    z-index: -100000000;
    opacity: 0;
}

.registerDiv {
    height: 0;
    overflow: hidden;

    transition: all 300ms;
}

.card:hover .contentContent {
    margin-bottom: 2rem;
}

.card:hover .registerDiv {
    height: fit-content;
    overflow: visible;
}

.card:hover .register {
    opacity: 1;
}

.register:hover {
    z-index: 99999999;
    outline-offset: 1mm;
    outline: 1px dashed #555;
    color: white;
}


@media screen and (max-width: 770px) {
    .events_cards {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    .each_events_wrap {
        padding: 1rem;
    }

    .each_header {
        margin-top: 0.5rem;
    }
}

.events_holder {
    width: 100%;
    margin-top: 5rem;
}

@media only screen and (min-width: 768px) {
    .events_holder {
        margin-top: 3rem;
    }

    .events_holder {
        width: 90vw;
    }

    .card {
        width: 20rem;
    }

    .imgBx {
        height: 15rem;
    }
}

@media only screen and (min-width: 1024px) {
    .events_holder {
        width: 85vw;
    }
}

@media only screen and (min-width: 1280px) {
    .events_holder {
        width: 83vw;
    }
}

@media only screen and (min-width: 1536px) {
    .events_holder {
        width: 80vw;
    }
}