.holder {
    --border-color: #555;
    position: relative;
    width: 100%;
}

.tabNav {
    position: relative;
    display: flex;
    justify-content: left;
}


.tabNav::after {
    content: "";
    position: absolute;
    top:100%;
    left: 0;
    right: 0;

    border-bottom: 1px dashed var(--border-color);
}


.tab {
    position: relative;
    padding: 0.8rem 0.5rem;
    font-size: 1.2rem;
    font-weight: lighter;
    text-transform: uppercase;
    margin-right: 1.5em;

    transition: all 100ms;

    color: var(--textColor);
    letter-spacing: 0.2em;
}

.tab[data-active=true] {
    font-weight: bold;
}

.tab[data-active=true]::after {
    content: "";
    position: absolute;
    top: calc(100% - 1px);
    left: 0; right: 0;
    height: 3px;
    background: var(--fontColor);

    z-index: 1;
}

.tab[data-active=false]:hover {
    cursor: pointer;
}

.tab[data-active=false]::after {
    content: "";
    position: absolute;
    top: calc(100%);
    height: 1px;
    left: 0; right: 100%;
    
    background: var(--fontColor);

    z-index: 1;

    transition: all 300ms;
}

.tab[data-active=false]:hover::after {
    right: 0;
}

.drawers {
    display: flex;
    padding: 2.4rem 0;
}

.drawer {
    transition: all 400ms;
    width: 100%;
}

.drawer > * {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    padding-left: 0.5rem;
    padding-right: 0.5rem;;
}

.drawer[data-active=true] {
    position: relative;
    display: block;

    opacity: 1;
    filter: none;
    transition: all 400ms;
}

.drawer[data-active=false] {
    position: absolute;
    transition: all 400ms;
    opacity: 0;
    filter: blur(5px);
}

.events_header {
    font-size: 5rem;
    display: flex;
    font-weight: bolder;
    color: var(--textColor);
    margin-bottom: 0.5em;
}

@media only screen and (min-width: 768px) {
    .drawer {
        padding-left: 0;
        padding-right: 0;
    }

    .drawer > * {
        flex-direction: row;
    }

    .holder {
        border-left-width: 1px;
        border-left-style: dashed;
        border-image:  linear-gradient(to bottom, var(--border-color), rgba(0, 0, 0, 0)) 1 100%;

        padding: 2rem;
    }

    .tabNav::after {
        left: -3rem;
    }
}