@import url('https://fonts.googleapis.com/css2?family=Victor+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: unset;
}

::-webkit-scrollbar {
    display: none;
}

:root {
    --themeMainBlue: #219ebc;
    --themeHighlightsBlue: #8ecae6;
    --backGround: #151515;
    --backGroundLight: ;
    --themeYellow: #262626;
    --themeYellowDark: #262626;
    --textColor: #111;
    --baseColor: #e74c3c;
    --fontColor: #da851e;
    --textColor: #eaf1f2;
    --textHighlightColor: #bf7822;

    --borderColor: #666;
    --cardBackgroundColor: #171717;
}

.dark {
    --backGround: #1e2529;
    --backGroundLight: #1e2529b9;
}

@font-face {
    font-family: 'quaz';
    src: url('/static/fonts/Qaz-ZV74m.ttf');
    font-display: swap;
}

body {
    background-color: var(--backGround);
    font-family: 'quaz';
    /* overflow: hidden; */
}

.register_text {
    font-weight: bold;
    color: var(--themeYellowDark);
    padding: 2rem;
}

.form_container {
    max-width: 800px;
    background-color: var(--themeYellow);
    margin: 1rem auto;
    padding: 1rem;
    background-color: #fff; /* Dark form background color */
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

label {
    display: block;
    color: #bbb; /* Label color for dark mode */
}

input,
textarea {
    background: transparent;
    border: none;
    /* Border color for dark mode */
    border-radius: 5px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}

input:focus {
    border: none;
    outline: none;
}
