* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'quaz';
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: unset;
}

::-webkit-scrollbar {
    display: none;
}

:root {
    --themeMainBlue: #219ebc;
    --themeHighlightsBlue: #8ecae6;
    --backGround: #151515;
    --backGroundLight: ;
    --themeYellow: #262626;
    --themeYellowDark: #262626;
    --textColor: #111;
    --baseColor: #e74c3c;
    --fontColor: #ff7809;
    --textColor: #eaf1f2;
}

.dark {
    --backGround: #1e2529;
    --backGroundLight: #1e2529b9;
}

@font-face {
    font-family: 'quaz';
    src: url('../fonts/Qaz-ZV74m.ttf');
    font-display: swap;
}

body {
    background-color: var(--backGround);
    /* overflow: hidden; */
}

.register_text {
    font-weight: bold;
    color: var(--themeYellowDark);
    padding: 2rem;
}

.form_container {
    max-width: 800px;
    background-color: var(--themeYellow);
    margin: 1rem auto;
    padding: 1rem;
    background-color: #fff; /* Dark form background color */
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

label {
    display: block;
    font-size: 16px;
    margin-top: 10px;
    color: #bbb; /* Label color for dark mode */
}

input,
textarea {
    width: 100%;
    padding: 10px;
    border: none;
    font-size: 16px;
    /* Border color for dark mode */
    border-radius: 5px;
    margin-top: 5px;
    background-color: var(
        --backGroundLight
    ); /* Input background color for dark mode */
    /* Text color for dark mode */
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}

input:focus {
    border: none;
    outline: none;
}

.btn-register {
    background-color: var(
        --themeYellowDark
    ); /* Button background color for dark mode */
    color: #fff; /* Text color for dark mode */
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.btn-register:focus {
    box-shadow: none;
}
