.HeroContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}



.HeroCardContainer {
    border-radius: 10px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    transform: rotate(-4deg);
}

.CardImageContainer {
    border-radius: 5px;
    overflow: hidden;
}

.HeroTextConatiner {
    margin: 3rem;
    font-size: 1.4rem;
}

.herotextBigfont {
    font-weight: 300;
    -webkit-text-stroke-width: 2px;
    font-size: 3rem;
    color: var(--themeYellowDark);
}

.herotextHighlight {
    font-size: 2rem;
    font-weight: bold;
}

@media (max-width: 900px) {
    .HeroContainer {
        flex-direction: column;
        height: 120vh;
    }

}


@media (max-width: 499px) {
    .CardImageContainer {
        width: 300px;
        height: 250px;
        transform: rotate(0deg);
    }
}