#hod_container {
    padding: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;

    min-height: 100vh;
}

.hod_container_wrap {
    border-radius: 1em;

    display: flex;
    height: auto;
    backdrop-filter: blur(1px);

    border: 1px solid var(--themeYellowDark);

    background-color: var(--cardBackgroundColor);
    flex-direction: row;
    text-align: center;
}

.hod_image {
    padding: 4rem;
    overflow: hidden;
    flex-basis: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.hod_image_style {
    border-radius: 50%;
    border: 2px dashed var(--borderColor);
    padding: 0.4rem;
}

.hod_right {
    flex-basis: 70%;
    display: flex;
    flex-direction: column;
    padding: 4rem;
    color: var(--fontColor);
    justify-content: space-around;
    /* height: 100px; */
}

.hod_title {
    color: var(--fontColor);
    font-size: xx-large;
    font-weight: 600;

    margin-bottom: 4rem;
}

.hod_body {
    display: flex;
}

.hod_name {
    color: var(--textColor);
    padding-top: 2rem;
    font-size: 1.2em;
    text-align: left;
}

.hod_name::before {
    content: "\2014 \2009";
}

.hod_desciption {
    color: #b5b5b5;
    font-size: 1.3rem;
    font-weight: 400;

    line-height: 1.5em;

    /* overflow: hidden; */

    display: flex;
    /* align-items: center;
    justify-content: center; */
    text-align: left;
}

.line {
    border-left: solid 2px var(--themeYellowDark);
    margin: 2rem 0;
    /* height: 80%; */
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .hod_container_wrap {
        flex-direction: column;
    }

    .line {
        display: none;
    }

    .hod_right {
        padding: 0 2rem 3rem 2rem;
        justify-content: space-between;
        /* height: 100px; */
    }

    .hod_title {
        margin-top: 1rem;
    }

    .hod_desciption {
        text-align: center;
    }
}


@media only screen and (min-width: 768px) {
    .hod_body::before {
        content: "\201C";
        color: var(--textColor);
        font-size: 5em;
        position: relative;
        padding-right: 1rem;
        top: -0.12em;
    }
}

@media only screen and (min-width: 1280px) {
    #hod_container {
        padding-left: 15vw;
        padding-right: 15vw;
    }
}
