.testimonials_container {
    padding: 3.5vw 19vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonials_heading {
    color: var(--themeYellowDark);
    font-size: 2.1rem;
    font-weight: 600;
    letter-spacing: 3px;
    margin-bottom: 4.5rem;
}

.swiper {
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

.sectionHolder {
    margin-bottom: 10rem;
}

@media only screen and (min-width: 768px) {
    .sectionHolder {
        margin: 0;
    }
}