svg g {
    fill: rgb(255, 255, 255);
}

svg .svg-elem-1 {
    fill: transparent;
    -webkit-transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.1s;
    transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.1s;
}

svg.active .svg-elem-1 {
    fill: rgb(255, 255, 255);
}

svg .svg-elem-2 {
    fill: transparent;
    -webkit-transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.1s;
    transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.1s;
}

svg.active .svg-elem-2 {
    fill: rgb(255, 255, 255);
}

svg .svg-elem-3 {
    fill: transparent;
    -webkit-transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.2s;
    transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.2s;
}

svg.active .svg-elem-3 {
    fill: rgb(255, 255, 255);
}

svg .svg-elem-4 {
    fill: transparent;
    -webkit-transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.3s;
    transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.3s;
}

svg.active .svg-elem-4 {
    fill: rgb(255, 255, 255);
}

svg .svg-elem-5 {
    fill: transparent;
    -webkit-transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.4s;
    transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.4s;
}

svg.active .svg-elem-5 {
    fill: rgb(255, 255, 255);
}

svg .svg-elem-6 {
    fill: transparent;
    -webkit-transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.5s;
    transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.5s;
}

svg.active .svg-elem-6 {
    fill: rgb(255, 255, 255);
}

svg .svg-elem-7 {
    fill: transparent;
    -webkit-transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6s;
    transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6s;
}

svg.active .svg-elem-7 {
    fill: rgb(255, 255, 255);
}

svg .svg-elem-8 {
    fill: transparent;
    -webkit-transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.7s;
    transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.7s;
}

svg.active .svg-elem-8 {
    fill: rgb(255, 255, 255);
}

svg .svg-elem-9 {
    fill: transparent;
    -webkit-transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
    transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
}

svg.active .svg-elem-9 {
    fill: rgb(255, 255, 255);
}

svg .svg-elem-10 {
    fill: transparent;
    -webkit-transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s;
    transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s;
}

svg.active .svg-elem-10 {
    fill: rgb(255, 255, 255);
}

svg .svg-elem-11 {
    fill: transparent;
    -webkit-transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 1s;
    transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 1s;
}

svg.active .svg-elem-11 {
    fill: rgb(255, 255, 255);
}

svg .svg-elem-12 {
    fill: transparent;
    -webkit-transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s;
    transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s;
}

svg.active .svg-elem-12 {
    fill: rgb(255, 255, 255);
}

svg .svg-elem-13 {
    fill: transparent;
    -webkit-transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2s;
    transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2s;
}

svg.active .svg-elem-13 {
    fill: rgb(255, 255, 255);
}

svg .svg-elem-14 {
    fill: transparent;
    -webkit-transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3s;
    transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3s;
}

svg.active .svg-elem-14 {
    fill: rgb(255, 255, 255);
}

svg .svg-elem-15 {
    fill: transparent;
    -webkit-transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.4s;
    transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.4s;
}

svg.active .svg-elem-15 {
    fill: rgb(255, 255, 255);
}

svg .svg-elem-16 {
    fill: transparent;
    -webkit-transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s;
    transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s;
}

svg.active .svg-elem-16 {
    fill: rgb(255, 255, 255);
}

svg .svg-elem-17 {
    fill: transparent;
    -webkit-transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.6s;
    transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.6s;
}

svg.active .svg-elem-17 {
    fill: rgb(255, 255, 255);
}

svg .svg-elem-18 {
    fill: transparent;
    -webkit-transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.7s;
    transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.7s;
}

svg.active .svg-elem-18 {
    fill: rgb(255, 255, 255);
}

svg .svg-elem-19 {
    fill: transparent;
    -webkit-transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.8s;
    transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.8s;
}

svg.active .svg-elem-19 {
    fill: rgb(255, 255, 255);
}

svg .svg-elem-20 {
    fill: transparent;
    -webkit-transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.9s;
    transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.9s;
}

svg.active .svg-elem-20 {
    fill: rgb(255, 255, 255);
}

svg .svg-elem-21 {
    fill: transparent;
    -webkit-transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 2s;
    transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 2s;
}

svg.active .svg-elem-21 {
    fill: rgb(255, 255, 255);
}

svg .svg-elem-22 {
    fill: transparent;
    -webkit-transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.1s;
    transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.1s;
}

svg.active .svg-elem-22 {
    fill: rgb(255, 255, 255);
}

svg .svg-elem-23 {
    fill: transparent;
    -webkit-transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.2s;
    transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.2s;
}

svg.active .svg-elem-23 {
    fill: rgb(255, 255, 255);
}

svg .svg-elem-24 {
    fill: transparent;
    -webkit-transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.3s;
    transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.3s;
}

svg.active .svg-elem-24 {
    fill: rgb(255, 255, 255);
}

svg .svg-elem-25 {
    fill: transparent;
    -webkit-transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.4s;
    transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.4s;
}

svg.active .svg-elem-25 {
    fill: rgb(255, 255, 255);
}

svg .svg-elem-26 {
    fill: transparent;
    -webkit-transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.5s;
    transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.5s;
}

svg.active .svg-elem-26 {
    fill: rgb(255, 255, 255);
}

svg .svg-elem-27 {
    fill: transparent;
    -webkit-transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.55s;
    transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.55s;
}

svg.active .svg-elem-27 {
    fill: rgb(255, 255, 255);
}

svg .svg-elem-28 {
    fill: transparent;
    -webkit-transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.6s;
    transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.6s;
}

svg.active .svg-elem-28 {
    fill: rgb(255, 255, 255);
}

svg .svg-elem-29 {
    fill: transparent;
    -webkit-transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.65s;
    transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.65s;
}

svg.active .svg-elem-29 {
    fill: rgb(255, 255, 255);
}

svg .svg-elem-30 {
    fill: transparent;
    -webkit-transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.7s;
    transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.7s;
}

svg.active .svg-elem-30 {
    fill: rgb(255, 255, 255);
}

svg .svg-elem-31 {
    fill: transparent;
    -webkit-transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.75s;
    transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.75s;
}

svg.active .svg-elem-31 {
    fill: rgb(255, 255, 255);
}

svg .svg-elem-32 {
    fill: transparent;
    -webkit-transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.8s;
    transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.8s;
}

svg.active .svg-elem-32 {
    fill: rgb(255, 255, 255);
}

svg .svg-elem-33 {
    fill: transparent;
    -webkit-transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.85s;
    transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.85s;
}

svg.active .svg-elem-33 {
    fill: rgb(255, 255, 255);
}

svg .svg-elem-34 {
    fill: transparent;
    -webkit-transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.9s;
    transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.9s;
}

svg.active .svg-elem-34 {
    fill: rgb(255, 255, 255);
}

svg .svg-elem-35 {
    fill: transparent;
    -webkit-transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.95s;
    transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.95s;
}

svg.active .svg-elem-35 {
    fill: rgb(255, 255, 255);
}

svg .svg-elem-36 {
    fill: transparent;
    -webkit-transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 3s;
    transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 3s;
}

svg.active .svg-elem-36 {
    fill: rgb(255, 255, 255);
}

svg .svg-elem-37 {
    fill: transparent;
    -webkit-transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 3.05s;
    transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 3.05s;
}

svg.active .svg-elem-37 {
    fill: rgb(255, 255, 255);
}

svg .svg-elem-38 {
    fill: transparent;
    -webkit-transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 3.1s;
    transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 3.1s;
}

svg.active .svg-elem-38 {
    fill: rgb(255, 255, 255);
}

svg .svg-elem-39 {
    fill: transparent;
    -webkit-transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 3.15s;
    transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 3.15s;
}

svg.active .svg-elem-39 {
    fill: rgb(255, 255, 255);
}

svg .svg-elem-40 {
    fill: transparent;
    -webkit-transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 3.2s;
    transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 3.2s;
}

svg.active .svg-elem-40 {
    fill: rgb(255, 255, 255);
}

svg .svg-elem-41 {
    fill: transparent;
    -webkit-transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 3.25s;
    transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 3.25s;
}

svg.active .svg-elem-41 {
    fill: rgb(255, 255, 255);
}

svg .svg-elem-42 {
    fill: transparent;
    -webkit-transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 3.3s;
    transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 3.3s;
}

svg.active .svg-elem-42 {
    fill: rgb(255, 255, 255);
}

svg .svg-elem-43 {
    fill: transparent;
    -webkit-transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 3.35s;
    transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 3.35s;
}

svg.active .svg-elem-43 {
    fill: rgb(255, 255, 255);
}

svg .svg-elem-44 {
    fill: transparent;
    -webkit-transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 3.4s;
    transition: fill 0.1s cubic-bezier(0.47, 0, 0.745, 0.715) 3.4s;
}

svg.active .svg-elem-44 {
    fill: rgb(255, 255, 255);
}
