.sponsor {
    width: fit-content;

    position: relative;
}

.sponsor > img {
    width: 1em;
    height: 1em;
    display: block;

    border-radius: 100%;
    overflow: hidden;

    cursor: pointer;
}

.sponsor::after {
    content: attr(data-name);
    position: absolute;
    bottom: 110%;
    left: 50%;
    background: var(--fontColor);
    color: var(--textColor);
    padding: 0.7em 1em;

    font-size: 0.8rem;
    font-weight: bold;

    border-radius: 0.5em;
    letter-spacing: 0.1em;

    width: max-content;

    opacity: 0;

    transition: opacity 300ms;
}

.sponsor:hover::after {
    opacity: 1;
}

.sponsorList {
    display: flex;
    gap: 0.5em;
}
