.team_container {
    padding: 5vw;
    display: flex;
    gap: 3rem;
    flex-direction: column;
    height: 100vh;
}

.team_header {
    margin-top: 5rem;
    font-size: 2rem;
    display: flex;
    align-self: center;
    font-weight: bolder;
    color: var(--themeYellowDark);
}


.each_team_wrap {
    padding: 2rem;
    display: grid;
}

.each_header {
    margin-top: 2rem;
    display: flex;
    align-items: flex-start;
    font-size: 1.5rem;
    padding-bottom: 2rem;

}

.team_cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    width: 100%;
}

@media screen and (max-width: 770px) {
    .team_cards {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    .each_team_wrap {
        padding: 1rem;
    }

    .each_header {
        margin-top: 0.5rem;
    }
}