.teams_holder {
    padding: 10rem 1.5rem;
    display: flex;
    justify-content: center;
}

.team_container {
    display: flex;
    flex-direction: column;

    --dashed-border-color: #333;
}

.team_header {
    margin-top: 5rem;
    font-size: 2rem;
    display: flex;
    align-self: center;
    font-weight: bolder;
    color: var(--themeYellowDark);
}


.each_team_wrap {
    position: relative;
    padding: 2rem;
}


.each_team_wrap::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    border-left: 1px dashed var(--dashed-border-color);
}

.each_header {
    margin-top: 2rem;
    display: flex;
    align-items: flex-start;
    font-size: 4rem;
    font-weight: bold;
    padding-bottom: 2rem;
    
    color: var(--textColor);
    position: relative;
    max-width: 80vw;
    letter-spacing: 0.08em;
}

.each_header::before {
    content: "";
    position: absolute;
    left: -0.7em;
    right: 0;
    bottom: 0;

    border-bottom: 1px dashed var(--dashed-border-color);
}

.team_cards {
    display: flex;
    gap: 2rem;
    width: 100%;
    margin-top: 2rem;

    flex-direction: column;
    align-items: center;
}

.vertWire {
    height: 5rem;
    border-left: 1px dashed #333;;
}

.junction {
    width: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.junction[data-no-margin] {
    margin: 0;
}

.memberListDownloadHolder {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    padding: 0 2rem;
}

.memberListDownload {
    width: 100%;
    color: var(--textColor);
    font-weight: bold;
    line-height: 1.5em;

    letter-spacing: 0.01em;
    font-size: 4em;
    
    padding: 0 2rem;
    position: relative;
}

.memberListDownload::before {
    content: "";
    position: absolute;
    top: -1.5em;
    bottom: -1.5em;
    left: 0;

    border-left-width: 1px;
    border-left-style: solid;
    border-image:  linear-gradient(to bottom, #333, 90%, rgba(0, 0, 0, 0)) 1 100%;
}

.memberListDownloadLink {
    color: var(--fontColor);
    letter-spacing: 0.15em;
    font-size: 0.8em;

    text-decoration-line: underline;
    text-underline-offset: 0.2em;
    text-decoration-style: dashed;
    text-decoration-color: var(--fontColor);
    text-decoration-thickness: 2px;

    transition: all 300ms;
    width: fit-content;
}

.memberListDownload_Upper {
    position: relative;
    width: fit-content;
}

.memberListDownload_Upper_Logo {
    position: absolute;
    bottom: 100%;
    transition: all 300ms;
}

.memberListDownload_Upper:hover  .memberListDownloadLink {
    transform: translateX(2em);
}

.memberListDownload_Upper:hover .memberListDownload_Upper_Logo {
    bottom: 15%;
    color: var(--fontColor);
}


.memberListDownload_Text {
    font-weight: bolder;
    letter-spacing: 0.1em;
}

@media screen and (max-width: 770px) {
    .team_cards {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    .each_team_wrap {
        padding: 1rem;
    }

    .each_header {
        margin-top: 0.5rem;
    }
}


@media only screen and (min-width: 768px) {
    .team_container {
        width: 90vw;
        padding: 0 2rem;
    }

    .memberListDownload {
        width: 90vw;
        padding: 0 4rem;
    }

    .team_cards {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .each_header {
        font-size: 5rem;
    }

    .memberListDownload {
        font-size: 4rem;
    }

    .memberListDownloadHolder {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

@media only screen and (min-width: 1024px) {
    .team_container, .memberListDownload {
        width: 85vw;
    }
}

@media only screen and (min-width: 1280px) {
    .team_container, .memberListDownload {
        width: 80vw;
    }
}

@media only screen and (min-width: 1536px) {
    .team_container, .memberListDownload {
        width: 75vw;
    }
}

