.cards_container {
    backdrop-filter: blur(8px);
    border-radius: 10px;
    display: flex;
    padding: 2rem;
    width: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    transition: 0.5s ease;

    background: #181818;
    border: 1px solid #242424;

    text-align: center;

    min-width: 18rem;
    transition: 0.5s ease;
}

.cards_container:hover {
    transform: translateY(8px);
    background: #1d1d1d;
}

.cards_container:hover .card_img img {
    transform: scale(1.2, 1.2);
    border-radius: 100%;
}



.divider {
    border-bottom: 1px dashed #333;
}

.content_wrap {
    padding: 3rem 0 0 0;
}

.card_img {
    align-self: center;
    transition: 0.5s ease;
}

.card_img>img {
    width: 5rem;
    height: 5rem;

    border-radius: 1em;
    border: 1.5mm solid #444;
    transition: 0.5s ease;
    outline-offset: 2mm;
    outline: 1px dashed #333;
}

.card_name {
    color: var(--fontColor);
    font-size: 1.3rem;
    font-weight: bolder;
    margin-bottom: 0.5rem;
}

.card_desg {
    font-size: 0.9rem;
    font-weight: bold;
    color: #777;

    font-family: 'Victor Mono';
    /* font-weight: lighter; */
}

.socials {
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    gap: 10px;

    color: #aaa;

    font-size: 1.2rem;
}

.socials>div:hover {
    color: var(--fontColor);
}

.mail {
    display: flex;
    align-items: center;
    border-radius: 1em;
    border: 1px solid #333;
}

.icons1,
.icons2,
.icons3 {
    transition: 0.4s ease;
}

.icons1:hover,
.icons2:hover,
.icons3:hover {
    color: var(--themeYellowDark);
}


.cards_container:hover .card_img img {
    filter: blur(0px);

}

@media screen and (max-width: 770px) {
    /* .cards_container {
        gap: 10px;
    } */
}

@media only screen and (min-width: 768px) {
    .cards_container {
        width: 18rem;
        ;
    }
}