.testimonial_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 7.6% 20%;

    /* border-radius: 12px; */
}

.testimonial_img_container {
    object-fit: contain;
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonial_img {
    border-radius: 50%;
}

.testimonial_heading {
    font-size: 2.4rem;
    font-weight: 600;
    text-align: center;
}

.testimonial_content {
    padding-top: 1rem;
    text-align: center;
    font-size: 1.2rem;
}
