.upcomingItems {
    padding: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    min-height: 100vh;
}

.upcomingItemsHead {
    font-size: 1.5rem;
    text-align: center;
    color: var(--textColor);
    line-height: 1.9em;

    text-transform: uppercase;
    ;

    margin-bottom: 2rem;
    letter-spacing: 0.25em;
}

.upcomingEventsMainText {
    text-align: center;
    font-size: 1.5rem;

    color: var(--fontColor);
    letter-spacing: 0.5em;
}

.divider {
    margin: 5em 0;
    width: 100%;
    height: 1px;

    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-image-source: linear-gradient(to right, transparent, #444, transparent);
    border-image-slice: 1;
}

.upcomingCards {
    display: flex;
    gap: 3rem;
}

.card {
    --border-color: #353535;
    --card-width: 100%;
    width: var(--card-width);
    border: 1px solid var(--border-color);
    border-radius: 1em;

    /* display: flex;
    flex-direction: column; */

    background: #161616;

    overflow: hidden;

    outline: 1px dotted transparent;
    outline-offset: 2px;

    transition: all 500ms;
}

.cardTitle {
    color: var(--fontColor);
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 1rem;

    letter-spacing: 0.1em;

    word-wrap: break-word;
}

.cardImg {
    overflow: hidden;
    border-bottom: 1px solid var(--border-color);
}

.cardImg>img {
    width: 100%;
    display: block;
}

.cardContent {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
}

.cardDate {
    margin-bottom: 1rem;
    color: #aaa;
}

.cardEventDesc {
    letter-spacing: 0.05em;
    line-height: 1.6em;

    color: var(--textColor);
}

.sponsorList {
    font-size: 3em;
}

.sponsorListHeading {
    color: var(--textColor);
    font-size: 0.9rem;
    padding: 1em 0;
    border-top: 1px dashed #333;
    width: 100%;

    display: flex;
    align-items: center;

    margin-bottom: 0.3em;
}

.sponsorListHeading::before {
    content: '\2605';
    font-size: 1.5em;
    margin-right: 0.5rem;
}


.cardContent_Left {
    width: fit-content;
}

.willBeBackSoon {
    text-align: center;

    padding: 5em 0;

    color: #444;
    font-size: 2em;
    letter-spacing: 0.1em;
}

.learnMore {
    color: var(--fontColor);
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-thickness: 1px;
    text-underline-offset: 0.3em;

    font-weight: bold;

    margin: 2em 0;
    letter-spacing: 0.1em;
}

.cardContent_Left {
    margin-bottom: 2em;
}

@media screen and (max-width: 700px) {
    .upcomingCards {
        flex-direction: column;
    }
}


/* For medium and larger screens */
@media screen and (min-width: 768px) {
    .card {
        --card-width: 90vw;

        max-width: 90vw;
        flex-direction: row;
    }

    .cardContent {
        padding: 3rem;
        flex-direction: row;
    }

    .cardTitle {
        font-size: 3em;
    }

    .cardContent_Left {
        border-right: 1px dashed var(--border-color);
        padding-right: 2rem;
        margin-bottom: 0;
    }

    .cardContent_Right {
        padding: 0 0 0 2rem;
    }


    .sponsorListSection {
        width: fit-content;
    }
}

@media screen and (min-width: 1024px) {
    .card {
        --card-width: 80vw;
    }
}

@media screen and (min-width: 1280px) {
    .card {
        --card-width: 70vw;
    }
}


@media screen and (min-width: 1536px) {
    .card {
        --card-width: 60vw;
    }
}