# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set Node.js 16.x
        uses: actions/setup-node@v3
        with:
          node-version: 16.x

      # - name: Run install
      #   uses: borales/actions-yarn@v4
      #   with:
      #     cmd: install # will run `yarn install` command
      #   env:
      #     NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }} # if needed
      # - name: Build production bundle
      #   uses: borales/actions-yarn@v4
      #   with:
      #     cmd: build:prod # will run `yarn build:prod` command
      #     dir: 'client'
      # - name: Test the app
      #   uses: borales/actions-yarn@v4
      #   with:
      #     cmd: test # will run `yarn test` command
      #     dir: 'client'
      # - name: Run test in sub-folder
      #   uses: borales/actions-yarn@v4
      #   with:
      #     cmd: test
      #     dir: 'client' # will run `yarn test` in `frontend` sub folder